@model IReadOnlyList<PostViewModel>

<h2>Side Bar</h2>

<ul>
@for(var i = 0; i < Model.Count; i++)
{
    <li>
        @(i + 1). 
        <a asp-route="post"
        asp-route-year="@Model[i].Year"
        asp-route-month="@Model[i].Month"
        asp-route-name="@Model[i].Name">
        @Model[i].Title
        </a>
    </li>
}   
</ul> 